{% extends 'base.html.twig' %}

{% block title %}Dutaf LP{% endblock %}

{% block body %}
<h1>Liste des articles</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Référence</th>
            <th>Fournisseur</th>
            <th>Prix</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for article in articles %}
                <td>{{ article.reference }}</td>
                <td>{{ article.fournisseur ? article.fournisseur.nom : '-' }}</td>
                <td>{{ article.prix|number_format(2) }} €</td>
                <td>
                    <a href="{{ path('acheter',{id:article.id}) }}" class="btn btn-primary">Acheter</a>
                </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}
